@font-face {
    font-family: 'Raleway';
    src:local('Raleway'), local('Raleway'),
    url('./fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('./fonts/Raleway/Raleway-Regular.woff') format('woff'),
    url('./fonts/Raleway/Raleway-Regular.ttf') format('ttf'),
    url('./fonts/Raleway/Raleway-Regular.eot') format('eot');
}
@font-face {
    font-family: 'Open Sans';
    src:local('Open Sans'), local('Open Sans'),
    url('./fonts/Open Sans/Open\ Sans.woff2') format('woff2'),
    url('./fonts/Open Sans/Open\ Sans.woff') format('woff'),
    url('./fonts/Open Sans/Open\ Sans.ttf') format('ttf'),
    url('./fonts/Open Sans/Open\ Sans.eot') format('eot');
}
section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('./media/image1.png') no-repeat;
}
body {
    width: 1510px;
    margin: 0 auto;
}
header {
    min-height: 75px;
    background: #000000;
    margin: 0 auto;
    background-image: url('./media/logo.png');
    background-repeat: no-repeat;
    background-position: 115px 0px;
}
.header_menu {
    max-width: 550px;
    margin: 0px 170px 0 770px;
    display: flex;
}
.header_menu_p {
    width: 114px;
    height: 75px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    justify-content: center;
    margin: 0;
}
.header_menu_p:hover {
    cursor: pointer;
}
.banner {
    max-width: 1510px;
    height: 950px;
    background: url('./media/logo2.png') no-repeat 170px 208px;
    display: flex;
    margin: 0 auto;
}
.banner_info {
    height: 407px;
    padding: 358px 30px 0 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner_info_text {
    width: 670px;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.banner_info_text_h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.banner_info_text_separator {
    border: 1px solid #FFFFFF;
    width: 170px;
    height: 0px;
    margin: 0;
}
.banner_info_p {
    max-width: 270px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.banner_info_button {
    max-width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: none;
}
.banner_trial {
    width: 470px;
    height: 450px;
    margin: 208px 170px 293px 0px;
    background: #FFFFFF;
    border-radius: 10px;
}
.banner_trial_h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 auto;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_trial_span {
    color: #EC7979;
    padding: 0 5px;
}
form {
    height: 180px;
    margin: 45px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
input {
    width: 370px;
    height: 38px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD; ;
}
.banner_trial_button {
    margin-top: 75px;
    width: 470px;
    height: 60px;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
}
.design {
    width: 1510px;
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./media/image2.png');
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.design_title {
    padding-top: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.design_title_h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 50px;
}
.design_title_separator {
    border: 1px solid #FFFFFF;
    width: 170px;
    height: 0px;
    margin: 0 auto;
}
.design_h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 0;
}
.design_button {
    width: 370px;
    height: 58px;
    margin-top: 73px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background: none;
}
footer {
    width: 1510px;
    height: 164px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_social {
    margin-top: 43px;
    width: 570px;
    display: flex;
    justify-content: space-between;
}
.footer_copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
